<!-- Song Search Results -->
<div class="columns is-centered mt-5">
            <article class="panel is-success column is-three-fifths">
                <p class="panel-heading">
                    Song Results
                </p>
            
                <div class="panel-block is-active flex-row-between">
                    <div class="output1"><p>{{output1}}</p></div>
                    {{!-- <div class=""><a class="button is-dark" href="/viewplaylist">Add to Playlist</a></div> --}}
                     <div class="" id="add1"><a class="button is-dark" href="/viewplaylist/{{playlist.id}}">Add to Playlist</a></div> 
                </div>
                <div class="panel-block is-active flex-row-between">
                    <div class="output2"><p>{{output2}}</p></div>
                    <div class="" id="add2"><button class="button is-dark" href="/viewplaylist">Add to Playlist</button></div>
                </div>
                <div class="panel-block is-active flex-row-between">
                    <div class="output3"><p>{{output3}}</p></div>
                    <div class="" id="add3"><button class="button is-dark" href="/viewplaylist">Add to Playlist</button></div>
                </div>
                <div class="panel-block is-active flex-row-between">
                    <div class="output4"><p>{{output4}}</p></div>
                    <div class="" id="add4"><button class="button is-dark" href="/viewplaylist">Add to Playlist</button></div>
                </div>
                 <div class="panel-block is-active flex-row-between">
                    <div class="output5"><p>{{output5}}</p></div>
                    <div class="" id="add5"><button class="button is-dark" href="/viewplaylist">Add to Playlist</button></div>
                </div>
            </article>
        </div>