<!-- Song Search Results -->
<div class="columns is-centered mt-5">
            <article class="panel is-success column is-three-fifths">
                <p class="panel-heading">
                    Song Results
                </p>
            
                <div class="panel-block is-active flex-row-between">
                    <div class=""><p>{{output1}}</p></div>
                    <div class=""><a class="button is-dark" href="/viewplaylist">Add to Playlist</a></div>
                    <!-- <div class=""><a class="button is-dark" href="/viewplaylist/{{playlist.id}}">Add to Playlist</a></div> -->
                </div>
                <div class="panel-block is-active flex-row-between">
                    <div class=""><p>{{output2}}</p></div>
                    <div class=""><button class="button is-dark" href="/viewplaylist">Add to Playlist</button></div>
                </div>
                <div class="panel-block is-active flex-row-between">
                    <div class=""><p>{{output3}}</p></div>
                    <div class=""><button class="button is-dark" href="/viewplaylist">Add to Playlist</button></div>
                </div>
                <div class="panel-block is-active flex-row-between">
                    <div class=""><p>{{output4}}</p></div>
                    <div class=""><button class="button is-dark" href="/viewplaylist">Add to Playlist</button></div>
                </div>
                 <div class="panel-block is-active flex-row-between">
                    <div class=""><p>{{output5}}</p></div>
                    <div class=""><button class="button is-dark" href="/viewplaylist">Add to Playlist</button></div>
                </div>
            </article>
        </div>